<div class="container my-5">
  <div class="row justify-content-between">
    <h2 class= "font-weight-bold">Clientes</h2>
    <% if vendor_signed_in? %>
    <span class="d-flex justify-content-end">
      <%= link_to 'Nuevo Cliente', new_customer_path, remote: true, class:"btn btn-primary" %>
    </span>
    <% end %>
  </div>
  <div class="row my-5">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Tel/Cel</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <%= render "row", customer: customer %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
