<div class="container my-5">
  <div class="row justify-content-between">
    <h2 class= "font-weight-bold">Pedidos</h2>
    <% if vendor_signed_in? %>
      <span class="d-flex justify-content-end">
        <%= link_to 'Nuevo Pedido', new_order_path, remote: true, class:"btn btn-primary" %>
      </span>
    <% end %>
  </div>
  <div class="row my-5">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Vendedor</th>
            <th>Cliente</th>
            <th>Subtotal</th>
            <th>Iva</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <%= render "row", order: order %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
