<div class="container my-5">
  <div class="row justify-content-between">
    <h2 class= "font-weight-bold">Productos (Medidas en cm)</h2>
    <% if vendor_signed_in? %>
    <span class="d-flex justify-content-end">
      <%= link_to 'Nuevo Producto', new_product_path, remote: true, class:"btn btn-primary" %>
    </span>
    <% end %>
  </div>
  <div class="row my-5">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Codigo</th>
            <th>Ancho</th>
            <th>Alto</th>
            <th>Valor Unidad</th>
            <th>Cantidad Bolsas</th>
            <th>Precio</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <% product.update code: "B-#{product.width}#{product.height}-#{product.quantity}" %>
            <% product.update price: "#{product.unit * product.quantity}" %>
            <%= render "row", product: product %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
